<article class="col-md-4">
    <button class="modal-toggle" onclick="openModal({{id}})"><img src="{{imagePath}}" class="img-responsive" /></button>
    <h2 class="text-uppercase display-4">{{name}}</h2>
    <p class="thick">{{url}}</p>
</article>